.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.options-tab-reusable {
  background-color: #f3f3f5;
  border-radius: 13px;
  padding: 3px;
}
.options-tab-reusable button {
  border-radius: 12px;
  border: 0;
  width: 188px;
  background-color: #f3f3f5;
 cursor: pointer;
}
.options-tab-reusable .active {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 6px;
}
.modal-content {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  width: 390px;
  max-width: 450px;
  position: relative;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.form-header h3 {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
  font-weight: 500;
  text-align: start;
  gap: 1rem;
}
.form-header p {
  margin: 0;
  font-size: 0.9rem;
  color: #64748b;
}
.close-button {
  background: none;
  border: none;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  color: #888; 
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-top: 1.1rem;
}

.input-fields label {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  color: #555;
  text-align: start;
}

.input-fields input,
.input-fields select {
  padding: 0.5rem;
  border: 1px solid #dddddd00;
  border-radius: 8px;
  margin-top: 0.25rem;
  font-size: 0.8rem;
  background-color: #f3f3f5;
}

.form-footer {
  margin-top: 2rem;
}

.add-transaction-button {
  width: 100%;
  padding: 0.6rem;
  border-radius: 9px;
  border: 1px solid #dddddd00;
  cursor: pointer;
  background: linear-gradient(135deg, #6334f7 0%, #a04ff6 100%);
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}
@media (max-width:768px) {
.modal-content{
  width:80%
}
.options-tab-reusable button{
  width:50%;
}
.close-button{
  position: absolute;
  top:10px;
  right: 10px;
}
.input-fields {
  gap: 0.6rem;
}

.input-fields input{
  margin-top: 0.30rem;
}
.form-footer {
  margin-top: 1.3rem;
}
}
