.expenses-by-category-main-container {
  background-color: #fefefe;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  min-height: 300px;
  padding: 1.5rem;
  flex: 1;
}
@media (min-width: 992px) {
  .expenses-by-category-main-container {
    width: 40%;
  }
}
.expenses-by-category-main-container p {
  text-align: left;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;
}
.display-categories {
  margin-top: 10px;
}
.category-item {
  display: flex;
  align-items: center;
  background-color: #f8fafc;
  gap: 1rem;
  margin-bottom: 6px;
  padding: 4px;
  padding-right: 8px;
  border-radius: 10px;
}
.category-item p:last-child {
  margin-left: auto;
}
.category-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
.category-item p{
    font-weight: 350;
    font-size: 14.5px;
}