.sign-out-button {
  top: 10px;
  right: 10px;
  color: rgb(9, 9, 9);
  border: none;
  border-radius: 20px;
  padding: 7px 15px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  z-index: 1000;
  margin-bottom: 100px;
  background-color: #eff4fa;
  display: flex;
  justify-items: end;
  align-items: end;
  position: absolute;
}

.sign-out-button:hover {
  background: linear-gradient(135deg, #562fd6 0%, #8743cf 100%);
  color: #eff4fa;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
}

.main-container {
  margin: 0 auto;
}

.expenses-categories {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .expenses-categories {
    flex-direction: row;
  }
}
