#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8rem;
  text-align: center;
}

.main-container {
  margin: 0 auto;
}

.expenses-categories {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .expenses-categories {
    flex-direction: row;
  }
}
